
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SuccesEmails</title>
</head>
<body>
    <div> <h2>@ViewBag.m1</h2>
    </div>
    @Html.Partial("PagePrecedente")
</body>
</html>
