
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ErrorEmail</title>
</head>
<body>
    <div> 
        <h2>
            @ViewBag.m1
        </h2>  <hr />
        <h2>  @ViewBag.m2
        </h2>
    </div>
    @Html.Partial("PagePrecedente")
</body>
</html>
