
<html>
<head>

    <script>


    </script>
    <title>Aite Crm Campagne Marketing Sms</title>
</head>
<body>
    <h4>
        <div class="container-fluid">
            <div class="row">
                <nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
                   @Html.Partial("Menu")
                </nav>
                <main class="col-sm-9 ml-sm-auto col-md-10 pt-3" role="main" id="Donnees">
                    <br /><br /><br /><br />
                    <h4>
                        Marketing &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<div class="btn-group" role="group" aria-label="Basic example">
                        </div><hr />
                        @Html.ActionLink("Campagne Sms Contacts", "CampagneContactsSms", "Sms", new { area = "" }, new { @class = "btn btn-outline-success" })
                        @Html.ActionLink("Campagne Sms Entreprises", "CampagneEntreprisesSms", "SmsEntreprises", new { area = "" }, new { @class = "btn btn-outline-success" })


                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<div class="btn-group" role="group" aria-label="Basic example">
                        </div>
                    </h4>

                    <div class="table-responsive">
                    </div>


                    <h4></h4>

                    <div id="container" style="width:90%; height:400px;"></div>
                    @Html.Partial("PagePrecedente")
                    <footer>
                        <center><> <strong>Copyright © 2016 Tout droits réservés. Par <a href="http://www.aite-eonsulting.com">Aite Consulting</a>.</strong></center>
                    </footer>
                </main>

            </div>
        </div>
    </h4>

</body>
</html>

